<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, minus. Sint magnam sequi neque facilis quaerat, temporibus cumque consectetur reiciendis.</p>
    </header>
</section>
<section class="block block--dark block--skewed-right">
 <div class=" block__header container">
     <h2 class="block__heading">Heading</h2>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, minus. Sint magnam sequi neque facilis quaerat, temporibus cumque consectetur reiciendis.</p>
 </div>
</section>